
/* .client {
    border-collapse: collapse;
    width: 100%;
    color: #3d404e;
    font-size: 15px;
  }
  
  .client td, .customers th {
    /* border: 1px solid #f1f1f1; 
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .client tr:nth-child(even){background-color: #fbfbfb;}
  tr:nth-child(odd){background-color: white;}
  
  .client tr:hover {background-color: #ddd;}
  
  .client th {
    padding: 8px;
    text-align: left;
    background-color: #fff;
    font-weight: 600;
    color: #74767b;
    border: 1px solid #f1f1f1;
    line-height: 1.36rem;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: fixed;
  } */