body {
  margin: 0;
  background-color: #eeeeee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  line-height: 1.43;
  color: #3d404e;
}
.main {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  /* left: 200px; */
  transition: all 0.3s ease-in-out;
}
.container-new {
  box-sizing: border-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}
@media (max-width: 500px) {
  .container-new {
    padding: 10px;
  }
}
.container {
  width: 100%;
  position: relative;
  height: 100%;
}
.client-bg {
  background-color: #eeeeee;
}
.canvas-shrink {
  margin-left: 215px;
}
.content-container {
  padding-top: 4vmax;
}
.global-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.canvas {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.canvas-wide {
  margin-left: 50px;
}
.red {
  color: #ff6a7f;
}
.green {
  color: #5bdd5e;
}
.flex-container-app {
  max-width: 1400px;
}
.col1-app {
  flex: 15%;
  background-color: #012f46;
  top: 20vmax;
}
.col2-app {
  flex: 85%;
  top: 20vmax;
}
.rl-hide {
  display: none !important;
}
.rl-hidden {
  visibility: hidden !important;
}
.ease {
  transition: all 0.4s ease 0s;
}
.bg-white {
  background-color: white;
}
.btn-none {
  border: none;
}
.pointer {
  cursor: pointer;
}
.v-align-middle {
  vertical-align: middle;
}
.no-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.label {
  color: #333333;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 700;
}
.form-error {
  color: #c82506;
  font-size: 12px;
}
.form-control {
  display: block;
  width: 95%;
  height: 34px;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input.form-control {
  width: 90%;
}
input.form-control-fullwdth {
  width: 100%;
}
input[type="file" i].form-control {
  padding: 13px 12px 0px 12px;
  min-height: 56px;
}
.react-datepicker__input-container input {
  width: 90%;
  display: block;
  height: 34px;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[readOnly] {
  background: #eeeeee;
  cursor: not-allowed;
}

@media (max-width: 950px) {
  .canvas-wide--mobile {
    margin-left: 0px !important;
  }
}

/* css for input type range */
input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}
/* css for input type range */

/* Transition Properties */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Transition Properties */

/* overriding datepicker css */
.react-datepicker-wrapper {
  width: 95% !important;
}
/* overriding datepicker css */

/*overriding form-step css scemantic ui*/
.ui.ordered.steps .step:before {
  font-size: 1.5em !important;
}
/*overriding form-step css scemantic ui*/
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h4.ui.header {
  margin: 0 !important;
  line-height: 33px !important;
}
select:disabled {
  background-color: #eeeeee;
}
input:disabled {
  background-color: #eeeeee;
}
textarea:disabled {
  background-color: #eeeeee;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bfb8b8;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bfb8b8;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bfb8b8;
}

.iframe-placeholder {
  background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text x="50%" y="50%" font-family="\'Lucida Grande\', sans-serif" font-size="15" text-anchor="middle">Loading...</text></svg>')
    0px 0px no-repeat;
}

.popUp-modal--wrapper {
  margin: 18px 18px 12px 18px;
  background: #fff;
  padding: 12px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

/* automation campaign */

.ui.top.attached.header,
.ui.attached:not(.message) + .ui.attached.segment:not(.top) {
  border: none;
  border-bottom: 1px solid #ccc;
}

.ui.top.attached.header {
  /* text-transform: uppercase; */
}

.ui.multiple.dropdown > .label {
  color: white;
  background: green;
}
.campaign-card {
  box-shadow: 0px 15px 18px 1px rgb(74 69 69 / 45%);
  padding: 21px 28px;
  margin-top: 10px;
  padding-top: 45px;
  display: flex;
  width: 100%;
}
.ui.form .inline.field > :first-child,
.ui.form .inline.fields .field > :first-child {
  font-size: 15px;
}
.text-area {
  min-height: 100px;
  max-width: 600px;
}
.text-muted {
  font-size: 12px;
  color: #ccc !important;
}
a.section {
  color: #ccc !important;
  padding: 10px !important;
}
a.active-nav {
  color: black !important;
  border-bottom: 4px solid rgb(12, 170, 20);
  padding: 10px !important;
}
.msg-icon {
  margin-bottom: 18px;
}
.form-btn {
  display: flex;
  flex-direction: row-reverse;
}
.ui.big.breadcrumb {
  background: white;
}
.multiple-tags {
  width: 465px;
}
.ui.styled.accordion {
  background: #efeeee !important;
}
.form-label {
  font-size: 17px;
  font-weight: 400;
}
.type-label {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  font-size: 17px;
  font-weight: 400;
}
/* Email */
.toggle {
  display: flex;
  justify-content: center;
}
.bg-white {
  padding: 20px 60px;
}
.heading {
  font-size: 2.2rem;
  text-transform: uppercase !important;
  box-shadow: 0px 15px 18px 1px rgb(228, 228, 228);
}
.notify-heading {
  font-size: 2.3rem !important;
}
.email-select,
.email-input {
  width: 340px !important;
  padding: 15px;
}
.notify-field {
  display: flex;
  justify-content: center;
}
/* Message */
.upload-btn {
  border: 2px solid #3e3eef;
  font-size: 20px !important;
  color: #3e3eef;
  background: white;
  margin: 5px;
  outline: none !important;
}
.msg-span {
  margin: 33px 3px 0px 36px !important;
}
.btn-attachment {
  text-transform: uppercase;
  color: #3e3eef;
  background: white;
  border: 3px solid #3e3eef;
  font-size: 17px !important;
  outline: none !important;
  padding: 10px;
}
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: green !important;
}
.ui.breadcrumb .icon.divider {
  margin-right: 35px;
}
.ui.attached.segment,
.ui.segment {
  border: none !important;
  box-shadow: -4px 11px 14px -5px rgb(74 69 69 / 45%);
}
.breadcrumb-label {
  font-size: 1.4rem;
}
input:checked ~ label:after {
  background-color: rgb(0, 0, 0, 0.95) !important;
}
/* @media only screen and (min-width: 1300px){
  .container{
    max-width: 900px;
  }
} */

/* Audience Css */
/* background: white;
border: 1px solid #ccc; */
.ui.accordion .active.content {
  background: white;
  border: none !important;
}
/* .modal-content,
  .modal-body
  {
      width: 1100px;
  } */
h4 {
  background: #ebe8e8;
  padding: 15px;
}
.modal-label {
  font-weight: normal !important;
  font-size: 1.3rem !important;
  margin-bottom: 10px !important;
}
.green-btn {
  color: #ffff !important;
}
.white-btn {
  background-color: white !important;
  border: 1px solid rgb(235, 234, 234) !important;
}

.custom-accordian {
  font-size: 1.2rem !important;
  background: rgb(231, 231, 231) !important;
  /* padding: 5px !important; */
}
.modal-footer {
  border-top: none !important;
}
.label {
  margin: 20px;
  margin-top: 37px;
  font-size: 1.2rem;
  font-weight: bold;
}

.radio-label {
  font-size: 1.3rem;
}
.mr-1 {
  width: 18px;
  height: 16px;
}
.mr-2 {
  width: 21px;
  height: 21px;
}
.modal-label1 {
  font-size: 2rem;
}
.weekdays input[type="radio"] {
  border: 1px solid #fff;
  padding: 0.5em;
  -webkit-appearance: none;
}

.weekdays input[type="radio"]:checked {
  background: green no-repeat center center;
  background-size: 9px 9px;
}
.weekdays input[type="radio"]:focus {
  outline-color: transparent;
}
.field {
  display: block !important;
  position: relative;
}

/* When Css */
.date {
  display: grid !important;
  position: relative;
}

.custom-datepicker {
  width: 350px;
}

.container {
  width: 100%;
}
.preview-label {
  font-weight: 500;
  text-transform: uppercase;
}
.msg-heading {
  margin-top: 7px;
  background: white;
}
.msg-card {
  width: 500px;
  height: 40vh;
}
.msg-label {
  padding: 10px 10px 1px 18px !important;
}
.msg-header {
  font-size: 20px;
  padding: 15px !important;
}
.msg-card-msg {
  width: 450px;
  height: 80vh;
}
.msg-card-mobile {
  width: 540px;
  height: 100vh;
}

/* Select automation */

.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container h2 {
  margin: 0 0 80px 0;
  color: #8373e6;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.radio-buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.custom-radio input {
  display: none;
}

.radio-btn {
  margin: 10px;
  width: 180px;
  height: 200px;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px #c3c3c367;
  cursor: pointer;
}

.radio-btn > i {
  color: #ffffff;
  background-color: #000;
  font-size: 20px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) scale(4);
  border-radius: 50px;
  padding: 3px;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}

.radio-btn .hobbies-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-btn .hobbies-icon i {
  color: #8373e6;
  line-height: 80px;
  font-size: 60px;
}

.radio-btn .hobbies-icon h3 {
  color: #8373e6;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.custom-radio input:checked + .radio-btn {
  border: 3px solid #000;
}

.custom-radio input:checked + .radio-btn > i {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.section-automation {
  display: flex;
  flex-flow: row wrap;
}
.section-automation section > div {
  flex: 1;
  padding: 0.5rem;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 00px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px #000;
}
/* .panel-default-card-input {
  padding: 20px;
  height: 50vh;
  width: 100%;
} */
